{% extends 'cmpbltrapp/cmpbltrapp_base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to the Element Detail Page!</h1>
      <h2>Element details:</h2>
      <p>Field name: {{element_detail.fldname}}</p>
      <p>Field type: {{element_detail.fldtype}}</p>
      <p>Gid: {{element_detail.gid}}</p>
      <p>Archetype Id: {{element_detail.archetypeid}}</p>
      <p>Create Date: {{element_detail.crtdate}}</p>
      <p>Created By: {{element_detail.crtby}}</p>
    </div>
  </div>
{% endblock %}
